*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: rgb(228, 128, 13);
    text-align: center;
    width: 100%
}
.menu a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size:1.4 rem;
    font: weight 500px;;
    font-style: oblique;
    padding: 2rem;

}
.menu li{
    display: inline;
}

.titulo{
    color: rgb(233, 101, 40);
    background-color:rgba(225, 225, 85, 0.613);
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
}
       
      
.imagenprincipal{
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto
}

.nuestrastortas{
    color:rgb(233, 101, 40);
    background-color:rgba(225, 225, 85, 0.613);
    text-align: center;
}


.tortas {

    text-align: center;
    list-style-type: none; /* Elimina los estilos de viñeta de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    background-color: rgb(220, 109, 57);
    color: white;
    font-size: larger;
    font-style: oblique;
}

.tortas li {
    display: inline-block; /* Muestra los elementos de la lista en línea */
    margin-right: 20px; /* Agrega un margen derecho entre cada elemento de la lista */
}

.tortas li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

.tortas li img {
    width: 200px; /* Ancho deseado */
    height: 200px; /* Altura deseada */
}

.tortas li span {
    display: block; /* Muestra el texto debajo de la imagen */
}





 
.cafeteria {

    text-align: center;
    list-style-type: none; /* Elimina los estilos de viñeta de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    background-color: rgb(220, 109, 57);
    color: white;
    font-size: larger;
    font-style: oblique;
}

.cafeteria li {
    display: inline-block; /* Muestra los elementos de la lista en línea */
    margin-right: 20px; /* Agrega un margen derecho entre cada elemento de la lista */
}

.cafeteria li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

.cafeteria li img {
    width: 200px; /* Ancho deseado */
    height: 200px; /* Altura deseada */
}

.cafeteria li span {
    display: block; /* Muestra el texto debajo de la imagen */
}

.h2{
    color:rgb(233, 101, 40);
    background-color:rgba(225, 225, 85, 0.613);
    text-align: center;
}
.footer{
    clear: both;
    text-align: left;
    color: black;
    background-color: rgba(228, 219, 62, 0.725);
    font-size: medium;
    
}
body {
    font-family: "Montserrat", sans-serif;
}